@import "../Reset.scss";
@import "../Vars.scss";

.about {

    //  --------------- 1 AND 2 --> ARTICLES TRANSFORM BRAND AND STAND OUT-------------------

    //IMAGES EGG AND GLASS

    &__IntroImg {
        background-size: cover;
        background-position: center;
        height: 312px;;
    }

    &__ImgTransform {
        background-image: url(../../images/mobile/image-transform.jpg);
    }

    &__ImgStandOut {
        background-image: url(../../images/mobile/image-stand-out.jpg);
    }

    //INFORMATION

    &__Content {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       margin: 60px 35px 60px 35px;
      }

    &__Title {
        font-size: 32px;
        font-weight: 900;
        line-height: 40px;
        color: $--color-desaturated-blue;
        margin-bottom: 30px;
     }

    &__About {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        font-family: $--font-barlow;
        color: $--color-medium-gray;
     }

    &__LearnMore {
        font-size: 16px;
        font-family: $--font-fraunces;
        font-weight: 900;
        text-transform: uppercase;
        color: $--color-desaturated-blue;
        letter-spacing: 1px;

     }

     //UNDERLINE LEARN MORE

      &__LearnMore::after {
     content: "";
     display: block;
     bottom: 0.3em;
     margin-left: -6%;
     position: relative;
     width: 112%;
     height: 0.6rem;
     border-radius: 0.3rem;
     opacity: 0.25;    
     }
// TODO:VISITED CHANGE COLOR UNDERLINE

     &__UnderlineYellow::after{
     background-color: $--color-yellow;
     }
     
     &__UnderlinePink::after {
        background-color: $--color-red;
     }
        
    //----------------- 3 AND 4 --> ARTICLES  GRAPHIC AND PHOTOGRAHY-------------------

    //IMAGES ORANGE AND CIRUELAS

    &__ImgBackground {
    width: 100%;
    height: 37.5rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    }

    &__ImgGraphicDesign {
        background-image: url(../../images/mobile/image-graphic-design.jpg);
    }

    &__ImgPhotography {
        background-image: url(../../images/mobile/image-photography.jpg);
    }

    //INFORMATION

    &__ContentImg {
        display: flex;
        flex-direction: column;
        align-items:center;
        height: 100%;
        justify-content: flex-end;
       padding: 0px 25px 60px 25px;
    }

    &__Graphic {
        color: $--color-cyan; 
    }

    &__Photography {
        color: $--color-dark-blue;
    }

    &__TitleImg {
        font-family: $--font-fraunces;
        font-weight: 900;
        font-size: 28px;
        margin-bottom: 40px;
    }
    &__AboutImg {
        font-family: $--font-barlow;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        font-weight: 400;
    }
    }
