@import "../Reset.scss";
@import "../Vars.scss";

.footer {
    background-color: $--color-ligth-green;
    padding: 50px 35px 60px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Logo {
        text-align: center;
        color: $--color-footer-logo;
        font-weight: 900;
        font-family: $--font-fraunces;
        font-size: 32px;
        margin-bottom: 40px;
    }

    &__Menu {
        width: 80%;
    }

    &__Nav {
       display: flex;
       list-style-type: none;
       justify-content: space-between;
       margin-bottom: 70px;
    }

    &__Links { 
        font-size: 18px;
        font-family: $--font-barlow;
        color: $--color-ligth-cyan;
        cursor: pointer;
        &:hover {
            color: $--color-white;
           }
    }

    &__Icons {
       display: flex;
       justify-content: space-evenly;
       width: 60%;
       margin-bottom: 80px;
    }

    &__IconsImg {
       font-size: 25px;
        color: $--color-footer-logo;

        &:hover {
        color: $--color-white;
       }
    }

    &__Attribution a {
        color: $--color-footer-logo;
    }

    @media all and (min-width:768px) {
        & {
            &__Menu {
                width: 20%;
            }

            &__Icons {
                width: 15%;
            }
        }
    }
}