@import "../Reset.scss";
@import "../Vars.scss";


.header {
    background-image: url(../../images/mobile/image-header.jpg);
    height: 65vh;
    background-size: cover;
    background-position: bottom center;
    align-items: center;

    &__LogoAndNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
    }

    &__Hamburguer {
        font-size: 30px;
    }

    &__TitleAndArrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    &__Creatives {
        text-transform: uppercase;
        color: $--color-white;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__Arrow {
        color: $--color-white;
        font-size: 100px;
    }


}