@import "../Reset.scss";
@import "../Vars.scss";


.header {
    background-image: url(../../images/mobile/image-header.jpg);
    height: 65vh;
    background-size: cover;
    background-position: bottom center;
    align-items: center;
    padding: 30px;

    &__LogoAndNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__Hamburguer {
        font-size: 30px;
    }

    &__TitleAndArrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    &__Creatives {
        text-transform: uppercase;
        color: $--color-white;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__Arrow {
        color: $--color-white;
        font-size: 100px;
    }
}

//NAV MOBILE

.nav {
    &__menu--open {
    position: relative;
    align-items: flex-end;
    padding: 30px 15px 0px 15px;
    }

    &__menu--notOpen {
        display: none;
    }

 &__container {
   position: absolute;
   width: 100%;
   right: 0;
   margin-top: 10px;
 }

 &__list {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $--color-white;
    height: 330px;
 }

 &__items {
     font-family: $--font-barlow;
     font-size: 18px;
     color: $--color-medium-gray;

     &--contact {
        font-family: $--font-fraunces;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;   
        line-height: 1;
        color: $--color-desaturated-blue;
        background-color: $--color-yellow;
        border: 0;
        padding: 20px 30px 20px 30px; 
        border-radius: 40px;
     }
 }
}

@media all and (min-width:768px) {

    .header {
    background-image: url(../../images/desktop/image-header.jpg);
    // TODO:HACER MAS PEQUEÑA LA IMAGEN!!!!
    height: 100vh;

    &__LogoAndNav {
       margin:  0px 60px 0px 60px;
    }

     &__Hamburguer {
            display: none;
        }
    
        &__Creatives {
            font-weight: 900;
            font-size: 54px;
            padding-bottom: 90px;
        }

    }
 }



