@import "../Reset.scss";
@import "../Vars.scss";

// TODO:Revisar tamañaos letras y fuente y weitgh

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 60px 30px 0px 30px;

    &__Title {
        color: $--color-ligth-gray;
        font-family: $--font-fraunces;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 24px;
        margin-bottom: 70px;
    }
    
    &__Img {
        border-radius: 50%;
        width: 30%;
        margin-bottom: 40px;
    }

    &__About {
        font-family: $--font-barlow;
        color: $--color-dark-gray;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    &__Name {
        font-family: $--font-fraunces;
        font-weight: 900;
        font-size: 18px;
        line-height: 32px;
        color: $--color-desaturated-blue;
        margin-bottom: 10px;
        font-weight: bolder;
    }

    &__Job {
        font-family: $--font-barlow;
        font-weight: 700;
        font-size: 14px;
        color: $--color-ligth-gray;
        margin-bottom: 70px;
    }

    @media all and (min-width:768px) {
        & {
          margin: 60px 80px 60px 80px;

          &__desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
          }
          
          &__Title {
            padding: 30px;
            font-weight: 900;
        //   TODO: cambiar font-weight, no lo consigo?
          }

          &__Article {
            width: 360px;
          }

          &__Img {
            width: 20%;
          }

          &__About {
            font-weight: 400;
            color: $--color-medium-gray;
          }

        }
    }
}