//FONTS
$--font-barlow: 'Barlow', sans-serif;
//  ---> 600
$--font-fraunces: 'Fraunces', serif;
// ---> 700, 900

//COLORS

// -----------------PRIMARY--------------------

$--color-red: hsl(7, 99%, 70%);
$--color-yellow: hsl(51, 100%, 49%);
$--color-cyan: hsl(167, 40%, 24%);
// --->graphic design text
$--color-dark-blue: hsl(198, 62%, 26%);
// ---> photography text
$--color-ligth-cyan: hsl(168, 34%, 41%);
// ---> Footer

// --------------NEUTRAL------------------------
$--color-desaturated-blue: hsl(212, 27%, 19%);
$--color-dark-gray:hsl(213, 9%, 39%);
$--color-medium-gray:hsl(232, 10%, 55%);
$--color-ligth-gray:hsl(210, 4%, 67%);
$--color-white:hsl(0, 0%, 100%);